.category-list {
    list-style: none;
    padding: 0;
}

.category-list li {
    margin: 5px 0;
}

.category-list ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
    border-left: 1px solid var(--border);
}

.category-link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    transition: color 0.2s;
}

.category-link:hover {
    color: var(--primary);
}

.category-count {
    font-size: 14px;
    color: var(--secondary);
    margin-left: 5px;
}